{%extends 'musics/basic.html'%}
{% block title %}All Songs{% endblock %}

{% block body %}
<div class="container">


{% for i in song reversed %}
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="/media/{{i.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">Singer: {{i.singer}}</p>
          <p class="card-text">Tags: {{i.tags}}</p>
        <p class="card-text">Movie: {{i.movie}}</p>
        {% if user.is_authenticated %}
        <form action="/musics/history/" method="POST">{% csrf_token %}
          <input type="hidden" name="music_id" value="{{i.song_id}}">
          <a href="/musics/songs/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        </form>
        {% else %}
        <a href="/musics/songs/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
